node_modules/
vendor/
dist/
.env
.env.backup
*.log
.DS_Store
public/website/
storage/*.key
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/views/*
storage/logs/*
!storage/.gitkeep
